{
  "<Guild Id>": {
    "userAllowlist": [],
    "channelAllowList": [],
    "trustedRoles": [[], [], []],
    "logChannel": "",
    "moderationChannel": "",
    "reportingChannels": [],
    "timezone": "UTC"
  }
}
